$rebelcolour: #43A047;
$empirecolour: #D50000;

$primary: #343a40;

@import "../Resources/bootstrap-5.0.0-beta1-dist/scss/bootstrap.scss";
// @import "../Resources/bootstrap-5.0.0-beta1-dist/scss/functions";
// @import "../Resources/bootstrap-5.0.0-beta1-dist/scss/variables";
// @import "../Resources/bootstrap-5.0.0-beta1-dist/scss/mixins/";