
$rebelcolour: #43A047;
$empirecolour: #D50000;

$primary: #343a40;

@import "../Resources/bootstrap-5.0.0-beta1-dist/scss/bootstrap.scss";
// @import "../Resources/bootstrap-5.0.0-beta1-dist/scss/_functions.scss";
// @import "../Resources/bootstrap-5.0.0-beta1-dist/scss/_variables.scss";
// @import "../Resources/bootstrap-5.0.0-beta1-dist/scss/_mixins.scss";