@import "./colours";

// $rebelcolour: #43A047;
// $empirecolour: #D50000;

// $primary: #343a40;

.body{
    height: 100%;
    font-size: medium;
    background-color: #ffffff;
}


#mainheader{
    background-color:$primary;
    padding: 15px;
    font-weight: 500;
    font-size: larger;
    color: white;
}

/* all divs who's class starts with 'col' */
div[class^=col]{
    border: 0px solid black;
    padding: 10px;
}

// Hack that needs sorting. Styles grid on Empire’s Card Decision Making List
#row1 div[class^=col]{
    border-style: solid;
    border-color: $gray-400;
    border-width: 1px;
    background-color: $gray-200;
    padding: 5px;
}

.stepheader{
    font-size: medium;
    font-weight: 500;
}

.stepdescription{
    font-size: small;
    margin: 8px;
}

.margin-small{
    margin: 8px;
}

.margin-medium{
    margin: 16px;
}

.text-medium
{
    font-size: medium;
}

.text-small{
    font-size: small;
}

.list-group a{
    font-size: medium;
    color:gray;
}

.callout {
    padding: 10px 20px;
    margin: 0px 5px 10px 5px;
    border: 1px solid #E0E0E0;
    border-left-width: 10px;
    border-radius: 3px;
    background-color: #F5F5F5;
  }

.callout-rebel{
    border-color: $rebelcolour;
}

.callout-empire{
    border-color:$empirecolour;
}

.callout-both{
    border-image-source: linear-gradient(180deg, $rebelcolour, $empirecolour);
    border-image-slice: 1;
}

.font-colour-rebel{
    color: $rebelcolour;
}

.font-colour-empire{
    color:  $empirecolour;
}

.roundselector {
    padding: 5px;
    border: 1px solid #E0E0E0;
    background-color: #F5F5F5;
  }

  #deployflowchart li{
    font-size: small;
    margin: 8px;
  }

  #missiontable div{
      margin: 0;
      padding: 0;
  }

  #carddecisionlist div{
      font-size: small;
  }