$primary: #66051f;
@import "../resources/bootstrap-5.0.0-beta3-dist/scss/bootstrap.scss";

$rebelcolour: #43a048c4;
$empirecolour: #d50000c4;
$calloutbackground1: $gray-100;
$calloutbackground2: $gray-200;
$calloutbackground3: $gray-300;
// $maincolour: #66051f;

// $primary: #343a40;



// @import "../resources/bootstrap-5.0.0-beta1-dist/scss/_functions.scss";
// @import "../resources/bootstrap-5.0.0-beta1-dist/scss/_variables.scss";
// @import "../resources/bootstrap-5.0.0-beta1-dist/scss/_mixins.scss";
