@import "./colours";

$SWFont: "Goldman", serif;

/* Bootstrap modifiers */
.sticky-top{
    top: 0.5em;
}

html,body {
    // height: 100%;
    background-color: #ffffff;
    // font-weight: 300;
    color:$gray-700;
}

.main {
    margin-bottom: 100px;
    padding-top: 121px;
}

#mainheader {
    background-color: $gray-200;
    padding: 20px;
    font-weight: bold;
    font-family: $SWFont;
    font-size: 2rem;
    color: $primary;
}

#footer {
    background-color: $gray-200;
    height: 100px;
    // padding: 10px;
    // font-weight: bold;
    // font-family: $SWFont;
    font-size: smaller;
    // color: $primary;
}

a{
    text-decoration: none;
    color: $gray-800;
}

a:visited {
    text-decoration: none;
  }

a:hover{
    text-decoration: underline;
}

@media(min-width: 300px)
{
    #mainheader{
        font-size: 1.2rem;
    }
}

@media(min-width: 544px)
{
    #mainheader{
        font-size: 1.5rem;
    }
}

@media(min-width: 768px)
{
    #mainheader{
        font-size: 2rem;
    }
}

// .wrapper{
//     // width: 100%;
//     // display: flex;
//     display: block;
// }

/* Sidebar Rules */
// #sidebar{
//     width: 350px;
//     height: 100vh;
//     position: fixed;
//     top: 0;
//     left: -350px;
//     z-index: 1025;
//     background: $gray-200;
//     transition: all 0.3s;
// }

// #sidebar.show{
//     left: 0;
// }

// .sidebarheader{
//     background-color: $gray-300;
//     height: 60px;
//     display: flex;
//     justify-content: left;
//     align-items: center;
//     padding-left: 5px;
//     font-family: $SWFont;
// }

#options{
    padding: 0 5px;
    font-size: small;
}

// .overlay{
//     display: none;
//     position: fixed;
//     width: 100vw;
//     height: 100vh;
//     background: rgba(0,0,0,0.7);
//     z-index: 1024;
//     opacity: 0;
//     transition: all 0.5s ease-in-out;
// }

// .overlay.show{
//     display: block;
//     opacity: 1;
// }

// #dismissbutton
// {
//     width: 35;
//     height: 35;
//     position: absolute;
//     top: 10px;
//     right: 10px;
// }

.sidebarsubheader{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 0;
    @extend .paraseparator;
}

.planetlabel:hover{
    transition-duration: 0.3s;
    transform: scale(1.05);
}

#dagobah:before{
    content: url(./images/SWR_Dagobah_bw.png);
}

:checked+#dagobah:before{
    content: url(./images/SWR_Dagobah.png);
}

#dantooine:before{
    content: url(./images/SWR_Dantooine_bw.png);
}

:checked+#dantooine:before{
    content: url(./images/SWR_Dantooine.png);
}

#dathomir:before{
    content: url(./images/SWR_Dathomir_bw.png);
}

:checked+#dathomir:before{
    content: url(./images/SWR_Dathomir.png);
}

#endor:before{
    content: url(./images/SWR_Endor_bw.png);
}

:checked+#endor:before{
    content: url(./images/SWR_Endor.png);
}

#hoth:before{
    content: url(./images/SWR_Hoth_bw.png);
}

:checked+#hoth:before{
    content: url(./images/SWR_Hoth.png);
}

#ilum:before{
    content: url(./images/SWR_Ilum_bw.png);
}

:checked+#ilum:before{
    content: url(./images/SWR_Ilum.png);
}

#tatooine:before{
    content: url(./images/SWR_Tatooine_bw.png);
}

:checked+#tatooine:before{
    content: url(./images/SWR_Tatooine.png);
}

#yavin:before{
    content: url(./images/SWR_Yavin_bw.png);
}

:checked+#yavin:before{
    content: url(./images/SWR_Yavin.png);
}

.variant{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $gray-600;
    color: white;
    border-radius: 3px;
}

.variant span{
    padding: 10px;
}

// Hack that needs sorting. Styles grid on Empire’s Card Decision Making List
#row1 div[class^=col]{
    border-style: solid;
    border-color: $gray-400;
    border-width: 1px;
    background-color: $gray-200;
    padding: 5px;
}

// .stepdescription{
//     font-size: small;
//     margin: 8px;
// }

.builditemstart{
    border-top: solid 1px;
    border-color: $calloutbackground3;
    padding-top: 10px;
}

#buildheader{
    background-color: $calloutbackground1;
    height: 40px;
    margin: 0 1px;
}

.planetname{
    @include font-size(0.9rem);
}

div[id*=ground]{
    background-color: orange;
}

div[id*=space]{
    background-color: blue;
}

.buildrowheader{
    line-height: 30px;
    padding: 5px;
    margin: 5px 0;
    background-color: $calloutbackground3;
}

.swg-galemp,
.swg-stormtrooper{
    color: $empirecolour;
}

.swg-reball,
.swg-stormtrooper-3{
    color: $rebelcolour
}

// .buildrowheaderrebel{
//     @extend .buildrowheader;
//     background-color: $rebelcolour;
// }

// .buildrowheaderempire{
//     @extend .buildrowheader;
//     background-color: $empirecolour;
// }

.buildrow{
    line-height: 50px;
    padding: 2px 0;
    margin: 1px 0;
    background-color: $calloutbackground2;
}

.buildrowrebel{
    @extend .buildrow;
    border-left: 3px solid $rebelcolour;
}

.buildrowempire{
    @extend .buildrow;
    border-left: 3px solid $empirecolour;
}

#buildbutton{
    display: flex;
    justify-content: center;
}

.circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    // font-size: 10px;
    color: #fff;
    text-align: center;
    margin: 5px;
  }

//   .circle2 {
//     width: 10px;
//     height: 10px;
//     // line-height: 10px;
//     border-radius: 50%;
//     // font-size: 10px;
//     color: #fff;
//     text-align: center;
//     background-color: orange;
//     // display: inline;
//     // margin: 5px;
//   }

  .square{
    width: 40px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    margin: 5px;
  }

//   @mixin triangleColor($type){
//     @if $type="a"{
//         color: orange;
//     }
//     }

.trianglebase{
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    background-color: transparent !important;
    border-style: solid;
    border-width: 0px 20px 40px 20px;
    height: 40px;
    width: 40px;
    padding: 0;
    color: #fff;
    line-height: 50px;
    text-align: center;
    margin: 5px;
}

.triangle[id*=ground]{
    border-bottom-color: orange;
    @extend .trianglebase;
 }

 .triangle[id*=space]{
    border-bottom-color: blue;
    @extend .trianglebase;
 }

//  Round styles

.roundtracker{
    background-color: $gray-200;
    margin-top: 10px;
    padding-top: 10px;
    // max-width: 60px;
}

#round_label{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: $gray-400;
    border-style: solid;
    line-height: 35px;
    position: relative;
    font-family: $SWFont;
}

 input[id^=round]{
     display: none;
 }

input[id^=round]:checked + label{
    content: url("./images/Round_Rebel_sm.png");
 }

 input[id^=round]:checked:disabled + label{
    content: url("./images/Round_Marker_sm.png");
 }

 input[id^=round]:disabled + label{
    background-color: $gray-500;
 }

.margin-small{
    margin: 8px;
}

.margin-medium{
    margin: 16px;
}

.fs-7{
    font-size: small;
}

.list-group a{
    font-size: medium;
    color:gray;
}

/* Callouts */

  %callouttext{
    font-size: small;
    margin: 10px 8px;
  }

.callout {
    padding: 10px 5px 10px 10px;
    margin: 0px 5px 10px 10px;
    border-style: solid;
    border-width: 0px;
    border-left-width: 4px;
    border-radius: 3px;
    background-color: $calloutbackground1;
    p{
        @extend %callouttext;
    }
    ul{
        @extend %callouttext;
    }
    li{
        @extend %callouttext;
    }
    h5{
        font-family: $SWFont;
    }
}

.callout-rebel{
    @extend .callout;
    border-color: $rebelcolour;
    h5{
        color: $rebelcolour;
    }
}

.callout-empire{
    @extend .callout;
    border-color:$empirecolour;
    h5{
        color: $empirecolour;
    }
}

.callout {
    .callout-rebel{
        background-color: $calloutbackground2;
        .callout-empire{
            background-color: $calloutbackground3;
        }
    }
    .callout-empire{
        background-color: $calloutbackground2;
        .callout {
            background-color: $calloutbackground3;
        }
    }
    .callout-both{
        background-color: $calloutbackground2;
        .callout-both{
            background-color: $calloutbackground3;
        }
        .callout-empire{
            background-color: $calloutbackground3;
        }
    }
    .callout{
        background-color: $calloutbackground2;
        .callout{
            background-color: $calloutbackground3;
        }
        .callout-rebel{
            background-color: $calloutbackground3;
        }
        .callout-empire
        {
            background-color: $calloutbackground3;
        }
    }
}

.callout-rebel{
    .callout-empire{
        background-color: $calloutbackground2;
    }
}

.callout-empire{
    .callout {
        background-color: $calloutbackground2;
    }
}

.callout-both{
    @extend .callout;
    border-image-source: linear-gradient(180deg, $rebelcolour, $empirecolour);
    border-image-slice: 1;
}

// .important{
//     background-color: $gray-800;
//     color: white;
//     padding: 10;
//     border-radius: 2;
//     // background-clip: padding-box;
// }

// ul[id^=ROTE]{
//     color: blue;
// }

.maincolour{
    color: $primary;
}

.roundselector a{
    padding: 4px;
    background-color: #F5F5F5;
    font-size: 0.8rem;
    font-family: $SWFont;
    color: $gray-600;
}

.paraseparator{
    border-top: 1px solid $gray-400;
    padding-top: 5px;
}

#deployflowchart li{
font-size: small;
margin: 8px;
}

#missiontable div{
    font-size: small;
    margin: 0;
    padding: 0;
}

#carddecisionlist div{
    font-size: small;
}

// #d6button{
//     width: 20%;
// }

#d6{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .btnNoBackground {
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.25rem;
    font-size: 1rem;
    border-radius: 50%;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .btnNoBackground:hover{
      background-color: $gray-400;
  }

.icon-small{
    font-size: 1.4rem;
}

// @media(min-width: 300px)
// {
//     .icon-small{
//         font-size: 1rem;
//     }
// }

// @media(min-width: 544px)
// {
//     .icon-small{
//         font-size: 1.4rem;
//     }
// }

.icon-medium{
    font-size: 2rem;
}

@media(min-width: 300px)
{
    .icon-medium{
        font-size: 1.2rem;
    }
}

@media(min-width: 544px)
{
    .icon-medium{
        font-size: 1.5rem;
    }
}

@media(min-width: 768px)
{
    .icon-medium{
        font-size: 2rem;
    }
}
.offcanvasSilm{
    @extend .offcanvas;
    width: 120px;
}
