$primary: #66051f;
@import "../../bootstrap-5.0.0-beta3-dist/scss/bootstrap.scss";

$rebelcolour: #43a048c4;
$empirecolour: #d50000c4;
$calloutbackground1: $gray-100;
$calloutbackground2: $gray-200;
$calloutbackground3: $gray-300;
$buildSpace: rgb(42, 83, 163);
$buildGround: rgb(213, 128, 41);
